@import url("https://fonts.google.com/specimen/Be+Vietnam+Pro");

:root {
    --colorPrimario1:#8B48BF; 
    --colorPrimario2: #3CDDF3;
    --colorSecundario1:#1E1E26;
    --colorSecundario2:#232851;
}

*{
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 165px;
    max-width: 1440px;
}
header h1 img {
    display: flex;
    width: 107.68px;
    height: 25px;
}
header nav{
    display: flex;
}
header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 13px;
}
header nav li{
    display: inline-block;
    padding-right: 20px ; 
    font-weight: 500;
    line-height: 22.89px;
    color: #242E52;
}
header nav a {
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 165px;
    max-width: 1440px;
}
header h1 img {
    display: flex;
    width: 107.68px;
    height: 25px;
}
header nav{
    width: 397px;
    height: 23px;
    display: flex;
}
header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 13px;
}
header nav li{
    display: inline-block;
    padding-right: 20px ; 
    font-weight: 500;
    line-height: 22.89px;
    color: #242E52;
}
header nav a {
    text-decoration: none;
    color:#242E52;
}
header a:active{
    color: rgba(36, 46, 82, 0.6);
}
header img {
    display: none;
}

.contacto {
    background-color: var(--colorPrimario1);
    border-radius:50px;
    padding: 12.5px 41px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    line-height: 19.26px;
    color: #FFFFFF;
    font-size: 13.18px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

main{
    max-width: 1440px;
}

.main-envivo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 65px 165px;
}
.main-envivo img {
    flex-basis: 50%;
    width: 540px;
    height: 461.07px;
}

.contenido-envivo{
    flex-basis: 50%;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top:31px;
    padding-left: 100px;
} 

.contenido-envivo h2{    
    font-size: 50px;
    font-weight: 700px;
    color: #232C50;
    text-align: end;
}

.contenido-envivo div {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-end;
    flex-basis: 50%;
}

.contenido-envivo div p{
    font-size: 16.5584px;
    font-weight: 500;
    text-align: right;
    padding: 20px 0;
    color: #000000;;
}

.main-diferencias{
    background-color: var(--colorPrimario1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 220px;
    width: 100%;
    color: #FFFFFF;
}

.main-diferencias h2{
    font-size: 36px;
    font-weight: 700px;
    flex-basis: 50%;
    line-height: 41.26px;
    padding: 10px 30px;
}

.main-diferencias p{
    flex-basis: 50%;
    font-weight: 500px;
    line-height: 151.1%;
    padding: 10px 30px;
    text-align: justify;
}

.parrafo-mobile{
    display: none;
}

.main-points{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    padding: 40px 120px;  
    background-color: #FAFAFA;  
    width: 100%;
}

.card{
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items:flex-start;
    padding: 20px;
}

.card-text{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.card-text h4 {
    color: #323851;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.015em;
    margin-bottom: 10px;
}

.card-text p {
    margin-top: 20px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    letter-spacing: -0.01em;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrimario1);
    width: 70px;
    height: 43px;
    border-radius: 50px;
    font-weight: 700px;
    font-size: 16px;
    margin: 10px;
    font-weight: 700; 
    padding: 10px 25px;
    color: #FFFFFF;
}

.top-tenistas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.main-subtitulo { 
    padding:50px;
    margin: 50px;
}

.main-subtitulo h2{
    font-size: 39.214px;
    color: #242E53;
    text-align: center;
    font-weight:700;
    line-height: 61.41px;
    letter-spacing: -0.01em;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.cards div{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    position: relative;
    padding-top: 30px;
}

.cards div img{
    position: absolute;
    top: -45px;
    width: 70px;
}

.cards div h3 {
    font-size: 16.1px;
    color: #242E53;;
    line-height: 25.17px;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.cards div p {
    font-size: 16px;
    color: #B9B9C1;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    line-height: 25.06px;
}

.boton-more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 40px;
}

.main-equipo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorPrimario1);
    padding: 80px 150px;
}

.equipo-h2 h2{
    color:#FFFFFF;
    font-size: 40px;
    width: 399px;
    height: 96px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.005em;
}
.equipo-h2-mobile{
    display: none;
}

.main-boton-goforit button{
    background-color: #FFFFFF;
    color: #8B48BF;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
}

footer{
    background-color: #1E1E26;
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    width: 100%;
    height: 247px;
}

.footer-logo-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-redes img {
    padding: 5px;
}

.footer-navegacion {
    height: 141.14px;
    width: 392.73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-lista1 ul,
.footer-lista2 ul {
    padding-top: 40px;
    list-style: none;
}

.footer-lista1 ul li,
.footer-lista2 ul li{
    padding: 10px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
}

.footer-form-copy{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    
}
.footer-form{
    width: 273;
    height: 48px ;
    display: flex;
}

#email{
    height: 44px;
    width: 163px;
}

.footer-form input{
    border-radius: 50px;
    font-size: 13.18px;
    padding: 10px;
    border: none;
}

.footer-form button{
    Width: 63px;
    Height: 42px;
    border-radius: 50px;
    background-color: var(--colorPrimario1);
    color: #f3f3f3;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    cursor: pointer;
    border: none;
    
}

.footer-copyright h6{
    font-size: 12.5px;
    font-weight: 500;
    color: #8C8C94;
    line-height: 18px;
}

.contacto:hover{
    background-color: rgba(139, 72, 191, 0.7); 
}


@media screen and (max-width: 480px){
    header{
        display: flex;
        justify-content: space-between;
        padding: 40px 56px;
    }
    header nav {
        display: none;
    }
    header img {
        display: flex;
        width: 46.88px;
        height: 41.25px;
    }
    header .contacto{
        display: none;
    }
    main{
        max-width: 480px;
    }

    .main-envivo{
        padding: 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content:space-between ;
        
    }
    .main-envivo img {
        width: 400px;
        height: 341.53px;
    }

    .contenido-envivo{
        width: 400px;
        padding-top:100px;
        padding-left:0;
    } 
    .contenido-envivo div p{
        padding: 20px 10px;
        
    }

    .main-diferencias{
        background-color: var(--colorPrimario2);
        display: flex;
        flex-direction: column;
        padding: 30px 10px;        
    }
    .parrafo-web{
        display: none;
    }
    .parrafo-mobile{
        display: flex;
    }
    .main-diferencias p{
        padding-top: 40px;
    }
    .main-points{
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px 0 0 0;  
        background-color: #FFFFFF;
    }
    .card{
        position: relative;
        padding: 0 ;
    }
    .card-text{
        padding-right: 0;
        padding-left: 30px;
    }
    .card-text h4 {
        background-color: rgba(139, 72, 191, 0.3); 
        border-radius: 50px 0px 0px 50px;
        width: 100%;
        padding: 10px 10px 10px 80px;
        margin-bottom: 0px;
    }
    .card-text p {
        padding-right: 55px;
        padding-left: 25px;
        
    }
    .circle {
    position: absolute;
    top:5px;
    left: 20px;
}
.top-tenistas{
    padding: 0px;
}

.main-subtitulo {
    padding:40px;
    margin: 0px;
}

.main-subtitulo h2{
    font-size: 39px;
    padding: 0px;
}

.cards div{
    flex-basis: 90%;
    margin-top: 50px;
}
.top-tenistas .card-tenista-Sanyo,
.top-tenistas .card-tenista-Navarro {
    display: none;
}

.main-equipo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--colorPrimario2);
    padding: 40px 50px;
    height: 366px;
}
.equipo-h2 h2{
    display: none;
}
.equipo-h2-mobile {
    display: block;

}
.equipo-h2-mobile span{
    display: block;
    color:#FFFFFF;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.005em;
    text-align: center;
}

.main-equipo h2 {
    text-align: center;
    width: 324px;
    height: 192px;
    
    
}
.main-boton-goforit button{
    background-color:#232C50;
    color: #FFFFFF;
}

footer{
    flex-direction: column;
    align-items: center ;
    position: relative;
    height: 537px;
}
.footer-logo-redes {
    order:3 ;
  }

  .footer-navegacion {
    order: 1;
    height: 141.14px;
    width: 324px;
  }
  .footer-copyright {
    position: absolute;
    bottom: 30px;
    align-items: center;
  }
  .footer-redes {
    order: 1;
  }
  
  .footer-logo {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .footer-redes img{
    display: inline-block;
    padding:0px 25px 0 25px ;
    }

.footer-form{
    width: 380px;
    height: 48px;
    display: flex;
}
#email{
    height: 44px;
    width: 308px;
}

.footer-lista1 ul,
.footer-lista2 ul {
    padding-top: 0px;
}

.footer-form-copy{
    align-items: center;
    
}

}